<a href="https://colab.research.google.com/github/seid-diau/MuleProject/blob/main/DiauSaidLoopAndFunction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ***FUNCTIONS AND LOOPS ASSIGNMNET, DUE ON WEDNESDAY, JULY 5TH, 2023***\

*factorial is the product of positive integer and all the integers below it; e.g. factorial four ( 4! ) is equal to 24.*

In [66]:
# Write a function to calculate the factorial of a number.

def factorial(num):
  x=1
  if num <= 1 :
    return 0
  else :
    global i
    for i in range(2,num+1) :
      x  = x* (i-1)
  return (x*i)
# we call also use recursive function to solve factorial and it is the effiecent  way
def factorials(n):
    if n == 0:
        return 1
    else:
        return n * factorials(n - 1)

Question 2: Write a function to check if a number is prime.
prime number is  whole number greater than 1 that cannot be exactly divided by any whole number other than itself and 1 (e.g. 2, 3, 5, 7, 11).

In [106]:
def prime_Checker(n):
  # this statement will check if the n is any integer less than 2 if
  if n<2:
    return "not a prime"
  for i in range(2,int(n/2)):
       if n%i == 0:
         return(" not a prime ")
  return("is prime")

Question 3: Write a function to reverse a string.

In [13]:
def reverse_str(str):
  reverse_string=""
  for i in range(len(str)):
    reverse_string=reverse_string + str[len(str)-(i+1)]
  return(reverse_string)
#  we can always use python builtin slice method
def reverse_string(s):
    return s[::-1]

Question 4: Write a function to calculate the sum of all elements in a list.

In [153]:
def sum_list(l):
  sum=0
  for i in l :
    sum = sum+ i
  return sum
#  we can use builtin sum function
def sum_list(lst):
    return sum(lst)

Question 5: Write a function to check if a number is even.

In [159]:
def even_number(n):
  if n%2 ==0 :
    return (f"{n} is even")
  else:
    return (f"{n} not even")

Question 6: Write a function to find the maximum number in a list.

In [1]:
def max_list(l):
  return (max(l))

Question 7: Write a function to count the number of vowels in a string.

In [8]:
def vowel_counter(str):
  count = 0
  for i in str.lower() :
    if i in ["a","e","i","o","u"]:
      count+=1
  return count

In [10]:
vowel_counter("Hellowettrtrteoeeigio")

10

Question 8: Write a function to check if a string is a palindrome

In [19]:
def str_palin(str):
  return str == reverse_str(str)

In [21]:
str_palin("madam")

True

Question 9: Write a function to remove duplicates from a list.

In [1]:
def remove_duplicate(l):
  return  list(set(l))

Question 10: Write a loop to print the Pascal's triangle.

In [19]:
def pascal_triangle(num_of_rows):

  pascals_triangle=[]
  ledingspace=" "

  for i in range(num_of_rows):
      row1 =[1]


      if len(pascals_triangle) >= 1:

          add_row = pascals_triangle[-1]

          for j in range(len(add_row) - 1):

              row1.append(add_row[j]+ add_row[j+1])
          row1.append(1)

      pascals_triangle.append(row1)

      for i ,items in enumerate(pascals_triangle):

              x =    "   ".join(str(item) for item in items)
              y =ledingspace* (rows-i) + x
      print(y)

In [20]:
pascal_triangle(5)

          1
         1   1
        1   2   1
       1   3   3   1
      1   4   6   4   1

for row in pascal_triangle:
    print(" ".join(str(num) for num in row))

Question 11: Write a loop to print numbers from 1 to 10.

In [3]:
for i in range (1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

Question 12: Write a function to find the square root of a number.

In [43]:
#not completed square root
# def square_roots(n):
#   square_mul = []
#   for i in range(2,n):
#     if n%i==0 :
#       square_mul.append(i)
#     else :
#       0
#   print(square_mul)
import math

def square_root(n):
    return math.sqrt(n)

In [44]:
square_root()

3.1622776601683795

Question 13: Write a function to check if a string is a pangram.

In [28]:
def is_pangram(str):
  set_of_alpha =set()
  alphabet = {"a","b","c","d","e","f",'g','h',"i","j",'k',"l",'m',"n",'o','p','q','r','s','t','u','v','w','x','y','z'}

  for i in str:
    if i.isalpha():
      set_of_alpha.add(i.lower())
  return set_of_alpha == alphabet

In [56]:
is_pangram("The quick brown fox jumps over the reDSDAD_FDSFDSF 2222323 dfds98706432150!@#$%^&*() sasasas la dog")

False

Question 14: Write a function to check if two strings are anagrams.

In [71]:
def is_anagrams(str1,str2):

  a = str1.replace(" ","")
  b = str2.replace(" ","")
  print(a)

  return sorted(a.lower())== sorted(b.lower())

Question 15: Write a function to convert a string to title case.

In [82]:
def change_to_title(str):
  return str.title()

Question 16: Write a function to find the length of the longest word in a sentence.

In [101]:
def longest_word (sen):
  words= sen.split(" ")
  leng=[]
  for j ,i in enumerate(words):
    leng.append(i)
    if len(i) >= len(leng[j-1]) :
      longest = i
  return longest

Question 17: Write a function to find the common elements between two lists.

In [219]:
def common_element(list1,list2):
   comm=[]
   for i in list1:
    for j in list2:
      if i == j :
        comm.append(i)

   return (comm)
# this could also be done using intersaction of a set
def common_elements(lst1, lst2):
    return list(set(lst1) & set(lst2))

In [224]:
common_element([1,2,3,4],[2,3,6,1,7])

[1, 2, 3]

Question 18: Write a function to remove all vowels from a string.

In [136]:
def vowel_remove(str):
  for i in str.lower() :
    if i in ["a","e","i","o","u"]:

      str =str.replace(i,"")
  return str

Question 19: Write a function to check if a number is a power of two.

In [166]:
def is_power_of_two(n):
  for i in range(int(n/2)+1):
    if 2**i==n :
      return True

 Write a function to find the median of a list of numbers

In [45]:
def median_finder(l):

  if len(l)%2==0:
   return  (l[int(len(l)/2)-1] + l[int(len(l)/2)])/2
  else:
    return l[int((len(l)+1)/2)-1]

In [46]:
median_finder([1,2,3,4,5])

3